
.game {
    width: 800px;
    height: 800px;
}

.highlight {
    border: #c82333 dotted 1px;
}

.grid-first-last {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    height: calc(12vh);
}

.grid-left-right {
    display: grid;
    grid-template-columns: 2fr 9fr 2fr;
}

.cell_h {
    height: calc(6vh);
}

.cell {
    background: #86cfda;

    border: #c82333 solid 1px;
    display: grid;
}

.cell_ch {
    grid-template-columns: 1fr 1fr;
}

.cell_cv {
    grid-template-rows: 1fr 1fr;
}

.player_outer {
    border: #c82333 solid 1px;
    position: absolute;
    z-index: 999;
}

.player {
    background: url("/img/player.png") no-repeat;
    border: #c82333 solid 1px;
    height: 100%;
    width: 100%;
}

.show {
    background: #F00;
}

.info-center {
    height: 100%;
    background: #86cfda;
}
